$primary: #181818;
$primary-grey: #424242;
$primary-light: #F5F5F5;
$primary-blue: #0083FF;
$primary-background: #0F0F0F;
$hover-color: #313131;
$header-primary: #202020;
$header-border: #333333;
$menu-color: #212121;
$search-color: #2D2D2D;
$grey-color: #2C2C2C;
$grey-text: #858585;
$grey-dark: #6F6F70;
$border-color: #343434;
$text-green: #169641;
$button-hover: #339CFF;
$button-active: #0069CC;
$danger: #FE4D4D;

